@model List<Artist>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (Artist a in Model)
      {
          <p>Artist ID: @a.ArtistId, Artist Name: @a.Name</p>
      }
</div>
</body>
</html>